<!--선생입장에서 유치원의 아이의 정보를 수정하는 페이지-->
<section class="new_child">
  <div class="container">
    <div class="new_child-part">
      <div class="title">
        <h2>정보 수정</h2>
      </div>
      <div class="content">
        <!--주소창으로 보낼 수 있는 건 전부 get, 그 외 데이터를 첨부하면 post-->
        <form action="/children/update/<%=@child.id%>" method="post" enctype="multipart/form-data">
          
          <div class="form-group">
            <label for="exampleFormControlTextarea1">이름</label>
            <input name="input_name" type="text" class="form-control" id="exampleFormControlInput1" value="<%=@child.name%>">
          </div>
          
          <div class="form-group">
            <label for="exampleFormControlTextarea1">나이</label>
            <input type="number" name="input_age" min="1" max="10" value="<%=@child.age%>" class="form-control" id="exampleFormControlInput1">
          </div>
      
          <div class="form-group">
            <% if @child.gender ==  "boy"%>
                <input type="radio" name="input_gender" value="boy" checked>남자
                &nbsp&nbsp<input type="radio" name="input_gender" value="girl">여자
            <% else %>
                <input type="radio" name="input_gender" value="boy" >남자
                &nbsp&nbsp<input type="radio" name="input_gender" value="girl" checked>여자
            <% end %>
          </div>
      
          <div class="form-group">
            <label for="exampleFormControlTextarea1">반 이름</label>
            <input name="input_className" type="text" class="form-control" id="exampleFormControlTextarea1" value="<%=@child.className%>">
          </div>
      
          <div class="form-group">
            <label for="exampleFormControlTextarea1">반 번호</label>
            <input type="number" name="input_classNumber" min="1" max="50" class="form-control" id="exampleFormControlInput1" value="<%=@child.classNumber%>">
          </div>
      
          <button type="submit" class="my-btn">수정</button> 
        </form>
      </div>
    </div>
  </div>
</section>
