<%= render "header" %>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="yellow_title modal-header">
        <h5 class="modal-title" id="exampleModalLabel">신청하기</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="check_box modal-body">
        <div class="image">
          <img src="/assets/111.JPG" width="150px;" height="150px;"></img>
        </div>
        <div class="content">
          <div>
            <table class="card_name">
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>

<section class="receipts">
  <div class="name">
    <h2><i class="fas fa-align-justify"></i>목록</h2>
  </div>
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" style="width:5%;">#</th>
          <th scope="col" style="width:35%;">소속 어린이집</th>
          <th scope="col" style="width:20%;">나이</th>
          <th scope="col" style="width:20%;">이름</th>
          <th scope="col" style="width:20%;">신청</th>
        </tr>
      </thead>
      <tbody>
        
        <!-- 아이 검색결과 숫자 카운트용 -->
        <% a = 1 %>
        <% if @page >=2 %>
            <% a = (@page-1) * 10  + 1 %>
        <% end %>
        
        <% @children.each do |c| %>  
            <tr>
              <th scope="row"><%= a %></th>
                <td><%=Kindergarden.find(c.kindergarden_id).crname%></td>
                <td><%= c.age%> 세</td>
                <td>
                 <%= c.name %>
                </td>
                <td>
                  <!--내 아이일 때-->
                  <% if c.parent_id == current_user.id %>
                    내 아이
                    
                  <!--신청 가능할때(신청한 적 없고, 신청했어도 이 자녀 아이디로 신청안했을떄 -->
                  <% elsif Receipt.find_by_applicant_id(current_user.id).nil? || (Receipt.where("applicant_id like ?",current_user.id).find_by_child_id(c.id).nil? ) %>
                    <button type="button" data-toggle="modal" data-target="#exampleModal"><i onClick="getInfo(<%=c.id%>)" class="fas fa-search"></i></button>
                  
                  <!--신청완료했을 때-->
                  <% else %>
                    신청 완료
                    
                  <% end %>
                  
                 </td>
                <% a +=1 %>
            </tr>
        <% end %>
        
      </tbody>
    </table>

    <div class="page_position" style="text-align:center;">
        <%= paginate @children%>
    </div>
</div>
</section>


<script>
  function getInfo(_value){
    $.ajax({
      type: "GET",
      url: "/children/"+_value+"/ajax_show",
      dataType: "json",
      success: function(e){
        if(document.getElementsByClassName("card_name")[0].childNodes[1] != null){
          document.getElementsByClassName("card_name")[0].removeChild(document.getElementsByClassName("card_name")[0].childNodes[2]);
        }
        else{
          $(".card_name").append("<tbody><tr><th>소속</th><td>"+ e.kindergarden+"</td></tr><tr><th>나이</th><td>"+e.age+"</td></tr><tr><th>성별</th><td>"+e.gender+"</td></tr><tr><th>담당교사</th><td>"+e.teacher+"</td></tr></tbody>");
          $(".modal-footer").append("<a onclick=\"recipt("+e.id +")\"><button tyepe=\"button\" class=\"check\"><i class=\"fas fa-check\"></i></button></a>"); 
        }
      },
      error: function(xhr, status ,error){
        alert(error);
      }
    });
  }
</script>

<script type="text/javascript">
function recipt(id){
    if (confirm("신청하시겠습니까?") == true){    //확인
        // document.form.submit();
        window.location.href=("/receipts/new/" + id);
    }
    else{   
    }
}
</script>